/*
Vimeo API

Build something great. Vimeo's API supports flexible, high-quality video integration with your custom apps.

API version: 3.4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vimeoapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type LiveEventSessionsAPI interface {

	/*
	GetLiveIngestStatus Get the ingest status of a one-time live event

	This method returns the ingest status of the specified event.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param videoId The ID of the event.
	@return ApiGetLiveIngestStatusRequest
	*/
	GetLiveIngestStatus(ctx context.Context, videoId float32) ApiGetLiveIngestStatusRequest

	// GetLiveIngestStatusExecute executes the request
	//  @return LiveEventSessionStatus
	GetLiveIngestStatusExecute(r ApiGetLiveIngestStatusRequest) (*LiveEventSessionStatus, *http.Response, error)
}

// LiveEventSessionsAPIService LiveEventSessionsAPI service
type LiveEventSessionsAPIService service

type ApiGetLiveIngestStatusRequest struct {
	ctx context.Context
	ApiService LiveEventSessionsAPI
	videoId float32
}

func (r ApiGetLiveIngestStatusRequest) Execute() (*LiveEventSessionStatus, *http.Response, error) {
	return r.ApiService.GetLiveIngestStatusExecute(r)
}

/*
GetLiveIngestStatus Get the ingest status of a one-time live event

This method returns the ingest status of the specified event.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param videoId The ID of the event.
 @return ApiGetLiveIngestStatusRequest
*/
func (a *LiveEventSessionsAPIService) GetLiveIngestStatus(ctx context.Context, videoId float32) ApiGetLiveIngestStatusRequest {
	return ApiGetLiveIngestStatusRequest{
		ApiService: a,
		ctx: ctx,
		videoId: videoId,
	}
}

// Execute executes the request
//  @return LiveEventSessionStatus
func (a *LiveEventSessionsAPIService) GetLiveIngestStatusExecute(r ApiGetLiveIngestStatusRequest) (*LiveEventSessionStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LiveEventSessionStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveEventSessionsAPIService.GetLiveIngestStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/videos/{video_id}/sessions/status"
	localVarPath = strings.Replace(localVarPath, "{"+"video_id"+"}", url.PathEscape(parameterValueToString(r.videoId, "videoId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
